.container {
  background-color: #f9f9fc;
}

.container h2 {
  font-size: var(--fs33);

  font-size: 3rem;

  padding: 3rem 0rem 0rem 3rem;
}
/* Flexbox로 가로 정렬 */
.flexRow {
  display: flex;
  gap: 2rem; /* 두 컴포넌트 사이 간격 */
  padding: 2rem 3rem;
  align-items: flex-start; /* 세로 정렬 정리 필요 시 */
}
