.container {
  background-color: #f9f9fc;
  width: 100vw;
}

.container h2 {
  font-size: var(--fs33);

  font-size: 3rem;

  padding: 3rem 0rem 0rem 3rem;
}
.flexRow {
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  align-items: flex-start;
}

.bottomRow {
  padding: 0rem 3rem 2rem 3rem;
}
