.detectTable table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  box-sizing: border-box;
  padding: 1rem;
  table-layout: fixed;
}
.detectTable table:hover {
  transform: translateY(-3px);
}
.detectTable th,
.detectTable td {
  padding: 0.625rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.detectTable td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.detectTable thead th:nth-child(3),
.detectTable thead th:nth-child(9) {
  width: 210px;
}
