.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f9f9fc;
  padding: 2rem 5rem;
  width : 100vw;
  margin-left : 15%;
}

.header {
  width: 100%;
  margin-bottom: 1.2rem;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 500;
  color:#000000;
  margin-top: 20px;
  margin-bottom: 2rem; 
}

.progressWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
  max-width: 1000px;
  margin-bottom: 4.5rem;
}

.progressBar {
  flex: 1;
  height: 6px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progressFill {
  background: #D2C4FC;
  height: 100%;
  transition: width 0.3s ease;
}

.progressText {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #7c3aed;
  font-weight: 700;
}

.section {
  width: 100%;
  max-width: 1000px;
}

.questionBox {
  width: 100%;
  background: none;
}

.questionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2B3A4B;
  text-align: center;
  margin-bottom: 4rem;
}

.questionNumber {
  color: #7c3aed;
  margin-right: 0.5rem;
}

.questionTitle {
  font-size: 2.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.optionButton {
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  background: #ffffff;
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color : #545D69;
  font-size: 1.4rem;
  font-weight : 700;
  transition: 0.4s ease;
}

.optionButton:hover {
  background-color: #c1b0f0;
  color : white;
  font-weight : 900;
  transform : translateY(-5px);
}


/* 결과 */
.resultContainer {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.resultHeader {
  margin-bottom: 2rem;
}

.resultSubtitle {
  font-size: 2rem;
  color: #545D69;
  margin-bottom: 0.5rem;
}

.resultHeading {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

.resultImageLarge {
  width: 100%;
  max-width: 500px;
  margin: 1rem 0;
  border-radius: 20px;
}

.resultDescBox {
  padding : 2rem;
  border-radius: 12px;
  white-space: pre-line;
  color: #2B3A4B;
  margin: 0 auto 1.5rem;
  max-width : 700px;
  font-weight : 500;
  font-size : 1.2rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 650px;
  margin: 0 auto;
}

.primaryButton {
  background: #C7BCE4;
  color: #545D69;
  border: none;
  border-radius: 24px;
  padding: 0.75rem;
  font-weight : 550;
  transition: 0.3s ease;
}

.outlinedButton {
  background: #fff;
  color: #545D69;
  border: 2px solid #D2C4FC;
  border-radius: 24px;
  padding: 0.75rem;
  font-weight : 550;
  transition: 0.3s ease;
}



.outlinedButton:hover,
.primaryButton:hover {
  background: #5F41B2;
  color: #fff;
  transform : translateY(-5px);
  font-weight : 700;
}


@media (max-width: 1410px) {
  .main {
    margin-left: 0;
  }
}