.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f9f9fc;
  padding: 2rem 5rem;
}

.header {
  width: 100%;
  margin-bottom: 1.2rem;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 500;
  color:#000000;
  margin-top: 20px;
  margin-bottom: 2rem; 
}

.progressWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
  max-width: 1000px;
  margin-bottom: 4.5rem;
}

.progressBar {
  flex: 1;
  height: 6px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progressFill {
  background: #D2C4FC;
  height: 100%;
  transition: width 0.3s ease;
}

.progressText {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #7c3aed;
  font-weight: 700;
}

.section {
  width: 100%;
  max-width: 1000px;
}

.questionBox {
  width: 100%;
  background: none;
}

.questionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2B3A4B;
  text-align: center;
  margin-bottom: 4rem;
}

.questionNumber {
  color: #7c3aed;
  margin-right: 0.5rem;
}

.questionTitle span {
  font-size: 2.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.optionButton {
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  background: #ffffff;
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color : #545D69;
  font-size: 1.4rem;
  font-weight : 700;
  transition: 0.4s ease;
}

.optionButton:hover {
  background-color: #c1b0f0;
  color : white;
  font-weight : 900;
  transform : translateY(-5px);
}

/* 결과 섹션은 그대로 유지 */
.resultSection { width: 100%; max-width: 1000px; }
