.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9fc;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: #2B3A4B;
  margin-bottom: 8rem;
}

.logo {
  width: 400px;
  height: auto;
}

.logoWrapper {
  background-color: #f1ecff;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  box-shadow: 0 0 20px rgba(197, 197, 255, 0.4);
}

.subtitle {
  font-size: 2rem;
  color: #6d6d6d;
  margin-bottom: 3rem;
}

.startButton {
  padding: 12px 120px;
  font-size: 25px;
  font-weight: bold;
  color: #545D69;
  background-color: #e4ddff;
  border: none;
  border-radius: 4rem;
  box-shadow: 8px 10px 12px rgba(167, 167, 167, 0.34);
  cursor: pointer;
  transition: all 0.3s ease;
  translate : 0.3s ease;
}

.startButton:hover {
  background-color: #d0c7f9;
  transform : translateY(-5px);
  
}
