.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-family: "Pretendard", sans-serif;
  width: 30%;
}

.sortTabs {
  display: flex;
}

.sortButton {
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #c7bce4;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sortButton:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: black; /* 클릭 시 글자색을 검정색으로 변경 */
}

.contentBox {
  gap: 24px;
}

.readmeHeader {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
}

.repoList {
  width: 100%;
  list-style: none;
  padding: 22px;

  margin: 0;
  background-color: #fff;
}

.repoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.repoListBox {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #c7bce4;
  display: flex;
  flex-direction: column;
}

.repoLink {
  font-weight: bold;
  text-decoration: none;
  color: #0366d6;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* ✅ 줄바꿈 허용 */
  gap: 8px;
  margin: 0.5rem;
}

.pagination button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  min-width: 40px;
  transition: background-color 0.2s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .pagination {
    gap: 6px;
  }

  .pagination button {
    padding: 8px 10px;
    font-size: 13px;
    min-width: 36px;
  }
}

.activePage {
  background-color: #1976d2;
  color: #fff;
}
.title {
  margin-bottom: 1rem;
  text-align: center;
}
.commitLabel {
  margin: 0.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
}
